*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E0E0E;
    color: white;
}
header{
    padding: 19px 0;
    background-color: #F2F2F2;
    color: black;
}
.header_container{
    flex-wrap: wrap;
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header_container p{
    font-size: 18px;
}
.social_icon_container{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 104px;
}
.logo_head_container{
    flex-wrap: wrap;
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    font-weight: 800;
}
.contact_wrapper{
    flex-wrap: wrap;
    display: flex;
    width: fit-content;
    gap: 68px;
}
.contact_container{
    display: flex;
    gap: 11px;
    align-items: center;
}
.contact_head{
    font-size: 20px;
    font-weight: 700;
    color: #DD2590;
}
.contact{
    font-size: 18px;
    color: #7E7E7E;
}

.digital_art_container{
    background-image: url(../images/background-img/image.png);
    max-width: 1440px;
    width: 100%;
    min-height: 825px;
    position: relative;
}
.digital_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    left: 206px;
    bottom: 77px;
}
.digital_text{
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: 619px;
    width: 100%;  
}
.digital_text p{
    font-size: 60px;
    font-weight: 800;
}
.nft_services{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 16px;
}
.nft_services p{
    font-size: 18px;
    font-weight: 500;
}
.digital_container button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 33px;
    background-color: #DD2590;
    color: white;
}

.future_container{
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.future_text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    max-width: 484px;
    width: 100%;
}
.future_text_container{
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.future_text_head{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.welcome_container{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px 16px;
    background-color: #FFC4E7;
}
.welcome_container p{
    font-size: 18px;
    font-weight: 500;
    color: #DD2590;
}
.future_text_head > p{
    font-size: 45px;
    font-weight: 800;
    color: #DD2590;
}
.future_text_container > p{
    font-size: 20px;
    line-height: 28px;
}
.experiance_container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.inside_container{
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    padding: 35px 34px;
    background-color: #FFC4E7;
}
.inside_container p{
    align-self: center;
    max-width: 107px;
    width: 100%;
    font-size: 20px;
    font-weight:800;
    color:#DD2590;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.exp_text_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    max-width: 190px;
    width: 100%;
}

.mian_wrapper_services{
    background-color: #DD2590;
}
.perosnal_services_wrapper{
    max-width: 1028px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main_services_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.services_head{
    max-width: 604px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.services_head h2{
    font-size: 45px;
    font-weight: 800;
}
.services_head p{
    font-size: 18px;
}
.buttons_container{
    display: flex;
    gap: 30px;
}
.buttons_container > button{
    background: transparent;
   font-size: 20px;
   font-weight: 600;
    padding: 14px 31px;
    align-items: center;
    display: flex;
    gap: 7px;
    border: 1px solid white;
}

.buttons_container button:hover{
    background-color: white;
}

.comercial_wrapper{
    padding: 59px 66px;
    background-color: white;
}